<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">My Cart</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group" data-ng-if="!cart.isEmpty()">
                        <li data-ng-repeat="(key, value) in cart.cartSession.products" class="list-group-item">
                            <div class="container-fluid">
                                <span class="badge">{{value}}</span>
                                <a ng-link="['Product', {id: key}]" >{{cart.productMap.map[key].name}}</a>
                                <button class="btn btn-danger btn-xs pull-right" data-ng-click="cart.onProductRemove(key)">Remove</button>
                            </div>
                        </li>
                    </ul>
                    <p data-ng-if="cart.isEmpty()">
                        Your cart is empty. Time to <a ng-link="['Products']">go shopping</a>!
                    </p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-danger" data-ng-click="cart.onCartEmpty()">Empty Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>