
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">\
            <div class="col-sm-6">
                <a class="navbar-brand" data-ng-link="['Products']">Blue Metal Online Store</a>
            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-warning btn-sm" data-ng-link="['Cart']">View My Cart</a>
                <a class="btn btn-info btn-sm" data-ng-link="['Admin']">Admin Panel</a>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <bm-search-widget></bm-search-widget>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ng-outlet></ng-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <footer>
                <p>2016 BlueMetal</p>
            </footer>
        </div>
    </div>
</div>