<div class="panel panel-default">
    <div class="panel-heading">All Available Products:</div>
    <div class="panel-body">
        <div data-ng-repeat="product in productList.products">
            <a data-ng-link="['Product', {id: product.id}]" >{{product.name}}&nbsp;&mdash;&nbsp;{{product.price|currency}}</a>
        </div>
    </div>
</div>