<div class="panel panel-default">
    <div class="panel-body">
        <h4>About</h4>
        <p>
            Etiam porta
            <em>sem malesuada magna</em>
            mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
        </p>
    </div>
</div>