<div class="panel panel-default">
    <div class="panel-heading">
        <b>The following products match your search criteria:</b>
    </div>
    <div class="panel-body">
        <ul class="list-group">
        <li data-ng-repeat="product in searchResults.products" class="list-group-item">
            <a data-ng-link="['Product', {id: product.id}]" >{{product.name}}&nbsp;&mdash;&nbsp;{{product.price|currency}}</a>
        </li>
        </ul>
    </div>
</div>