<div class="container">
    <h2>Search Products:</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" data-ng-model="searchWidget.q" placeholder="Search by name...">
                <span class="input-group-btn">
                    <button class="btn btn-default" data-ng-link="['Search', {q: searchWidget.q}]" type="button">Search</button>
                </span>
            </div>            
        </div>
    </div>
</div>