.data-grid{
    min-width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}
.data-grid td, .data-grid th{
    border: 1px solid #222;
    padding: 1rem
}
.data-grid th{
    background: #88F;
}
.data-row:nth-child(even){
    background: #DDF;
}
.data-grid-toolbar{
    background: none;
}
.data-grid-toolbar td{
    border: none;
}

.input-wide{
    width: 100%;
}
.input-tall{
    font-size: 1.5em;
}
.bm-nav-label{
    padding: 0.5em;
}