<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{productDetail.product.name}}</h2>
                </div>
                <div class="col-sm-8 col-md-4">
                    <div class="input-group">
                        <div class="form-control">{{productDetail.product.price|currency}}</div>
                        <span class="input-group-btn">
                            <button data-ng-if="productDetail.numberInCart() > 0" data-ng-link="['Cart']" class="btn btn-warning">{{productDetail.numberInCart()}} in Cart</button>
                            <button class="btn btn-success" data-ng-click="productDetail.onAddToCart()" type="button">Add To Cart</button>
                        </span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <em>This product is guaranteed by our quality standards</em>
    </div>
</div>